<ion-header>
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center" [routerLink]="['/home']">Books</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/camera']">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add-book']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list lines="inset">
    <ion-item-sliding *ngFor="let book of books">
      <ion-item class="no-padding">
        <ion-label>
          <h2 style="font-weight: bold; font-size: larger">
            {{ book.author }}
          </h2>
          <p style="color: rgb(11, 4, 92); font-size: large">
            Title: {{ book.title }}
          </p>
          <p style="color: rgb(11, 4, 92); font-size: large">
            Year: {{ book.year }}
          </p>
          <p style="color: rgb(11, 4, 92); font-size: large">
            Is read: {{ book.read }}
          </p>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option [routerLink]="['/edit-book/', book._id]">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteBook(book._id)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
